@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

*
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html
{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* nabar style*/
header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo img
{
    height: auto;
}
header .navbar a
{
    font-size: 1.7rem;
    padding: .5rem 1.5rem;
    color: rgb(255, 255, 255);
    border: .1rem solid transparent
}
