@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');


*
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html
{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}
/*-------Hero Image of pizza and text plus "BOOK" button*/
.hero-container{
    position: relative;
}
.hero-img{
    height: 70vh;
    width: 100vw;
    background: url(/assets/images/Pizzas-hero-image.jpg) no-repeat center center; 
    background-size: cover;
    background-position: center center;
}
.hero-text-img{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*---- 3 Chefs section*/
#chef-header{
    text-align: center;
    text-decoration: underline;
}
.three-stack-container{
    position: relative;
   
}
.chef-one{
    background: url(/assets/images/chef-one.jpg) no-repeat;
    background-size: cover ;
    background-position: center center;
    height: 50vh;
    
}
.chef-two{
    background: url(/assets/images/chef-two.jpg) no-repeat;
    background-size: cover ;
    background-position: center center; 
    height: 50vh;
}
.chef-three{
    background: url(/assets/images/chef-three.jpg) no-repeat center center;
    background-size: cover ;
    background-position: center center; 
    height: 50vh;
    
}
/* menus and sign up test css*/
.color-test-signup{
    background-color: aqua;
}
.color-test-menus{
    background-color: red;
}
